{% extends 'generator/base.html' %}
{% block content %}
    <div class="container text-center" style="padding-top:40px;">
        <h3 style="padding-bottom:20px;">Here's your password</h3>
        <input type="text" value="{{ passw }}" onclick=copyFunc() id="passw" class="btn btn-danger" readonly></input>
        <br/>
        <br/>
        <div class="alert alert-success text-center" role="alert" hidden>
            Password is <Strong>copied</strong> successfully
        </div>
        <script>
            function copyFunc(){
                var selectedText = document.getElementById("passw");
                var alert = document.getElementsByClassName("alert-success")[0];
                selectedText.select()
                document.execCommand("copy")
                alert.hidden=false;
            }
        </script>
    </div>
{% endblock%}
